<h1>Genres</h1>
<a href="/genres/form">Create a new genre</a>

<ul>
  {{#each genres}}
    <li>{{@index}} - {{this.storyType}}
      <a href="/genres/edit?id={{@index}}">edit</a>
    </li>
  {{/each}}
</ul>